{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
   <link rel="stylesheet" href="{% static 'css/contact.css'%}">
    <div class="m-5 bottom" >
      <span class="big-circle"></span>
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Байланыш</h3>
          <p class="text">
            Эгерде сиз сурооңузга жооп таба элек болсоңуз, анда төмөндөгү пикир формасын колдоно аласыз.
            Же башка ыңгайлуу жол менен биз менен байланышыңыз.
          </p>

          <div class="social-media">
            <p>биз менен байлануучу булактар :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action=""method="post" autocomplete="off">{%csrf_token%}
            <h3 class="title">Билдирүү жөнөтүү</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" />
              <label for="">атынызды жазыныз</label>
              <span>Username</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" />
              <label for="">электрондук почтанызды жазыныз</label>
              <span>Email</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"></textarea>
              <label for="">билдируунузду жазыныз</label>
              <span>Messa</span>
            </div>
            <input type="submit" value="билдируу жонотуу" class="btn" />
          </form>
        </div>
      </div>
    </div>

    <script >const inputs = document.querySelectorAll(".input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});</script>
{% endblock content %}