{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container bottom top">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 mt-5 mb-5 ">
            <h2>сыр созду озгортту </h2>
            <p>биринчи ески сырсозду кийин жаны сыр созду жазыныз</p>
            <form  method="POST" >{% csrf_token %}
                {{form|crispy}}
               <input class="btn btn-success" type="submit"
        value="озгортту">
                <a class="btn btn-info mr-5" href="{% url 'adminn'%}"> артка кайтуу </a>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>

{% endblock content %}