{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container bottom top">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-5 mb-5 ">
            <h2>Signup here</h2>
            <form  method="post" >{% csrf_token %}
                {{forms|crispy}}
                <button type="submit" class="btn btn-primary" >Signup</button>
                <a href=""> login here </a>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>

{% endblock content %}