{% extends 'base.html'%}
{%block content %}
<h1 class="m-3 mt-5">are you reding testing:</h1>
<div class="card border border-success m-4 shadow-0 mb-3">
  <div class="card-header bg-transparent border-success"> category : {{test.category}}</div>
  <div class="card-body text-success">
    <h5 class="card-title"> </h5>
      You have total <strong>{{test.maximum_attemps}}</strong> atemps.
    <p class="card-text">details: There are <strong>{{test.question_set.all.count}}</strong>questions.</p>
       <p>Stard date: <strong>{{test.start_date}}</strong>
           <br>End date:<strong>{{test.end_date}}</strong></p>

      <p>Author:<a href ="{% url 'users:profile' test.author.username  %}">@{{test.author.username}}</a></p>
  </div>
  <div class="card-footer bg-transparent border-success">
       <a class="btn btn-primary me-5" href="{% url 'okuu:test' test.id %}">start test</a>
      <a class="btn btn-secondary  " href="{% url 'okuu:list_test'  %}">back</a>
  </div>
</div>
{%endblock content%}