/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem !important;
    --normal-font-size: 1rem !important;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box !important;
  /*padding: 1px !important;*/
  margin: 1 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color) !important;
  color: var(--text-color);
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem !important;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== LAYOUT ===============*/
.containerr {
  max-width: 968px !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

/*=============== HEADER ===============*/
.headerr {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background-color: var(--container-color) !important;
  z-index: var(--z-fixed) !important;
  transition: .4s !important;
}

/*=============== NAV ===============*/
.navv {
  height: var(--header-height) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color) !important;
  font-weight: 600 !important;

  margin-left: 15px !important;
}
.nav__logo:hover {
    color: var(--first-color) !important;
  }

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: var(--container-color) !important;
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
    width: 100% !important;
    height: 4rem !important;
    padding: 0 1rem !important;
    display: grid !important;
    align-content: center !important;
    border-radius: 1.25rem 1.25rem 0 0 !important;
    transition: .4s !important;
  }
}

.nav__list, 
.nav__link {
  display: flex !important;
}

.nav__link {
  flex-direction: column !important;
  align-items: center !important;
  row-gap: 0px !important;
  color: var(--title-color) !important;
  font-weight: 600 !important;
}

.nav__list {
  justify-content: space-around !important;
}

.nav__name {
  font-size:  var(--tiny-font-size) !important;

  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem !important;
}

/*Active link*/
.active-link {
  position: relative !important;
  color: var(--first-color) !important;
  transition: .3s !important;
}

/* Minimalist design, active link */
.active-link::before{

  position: absolute !important;
  bottom: -.5rem !important;
  width: 4px !important;
  height: 4px !important;
  background-color: var(--first-color) !important;
  border-radius: 50% !important;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15) !important;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none!important;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center !important;
    column-gap: 3rem !important;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem !important;
  }
  .navv {
    height: calc(var(--header-height) + 1.5rem) !important;  /* 4.5rem */
  }
 /* .nav__img {
    display: none;
  }*/
  .nav__icon {
    display: none !important;
  }
  .nav__name {
    font-size: var(--normal-font-size) !important;
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: var(--first-color) !important;
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    position: absolute !important;
    bottom: -.75rem !important;
    width: 4px !important;
    height: 4px !important;
    background-color: var(--first-color) !important;
    border-radius: 50% !important;
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .containerr {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
