{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container " style="margin-bottom:8rem;">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-5 ">
            <div class="row">
               <h2 class="col-10">New Post</h2>
            <button type="button" class="btn btn-info col-2" data-bs-toggle="modal" data-bs-target="#adminadd">
                      <i class="bi bi-question-lg"></i>
            </button>
           </div>
             <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <button class="btn btn-success ml-2 me-4" type="submit">сактоо</button>
                  <a  class="" href="{% url 'adminn' %}">  артка кайтуу <i class="bi bi-arrow-90deg-right"></i></a>
    </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock content %}