{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container top bottom">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-5 ">
            <h2>ondoo</h2>
              <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
    <button class="btn btn-info ml-2" type="submit">сактоо</button>
                  <a class="btn btn-danger me-3" href="{% url 'article_delete' object.id  %}"> очуру</a>
                   <a  href="{% url 'adminn' %}">  артка кайтуу</a>
    </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock content %}