{% extends 'base.html'%}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 <link rel="stylesheet" href="{% static 'css/home.css'%}">
<style>@media (min-width: 769px) and (max-width: 1400px) {.topp{ margin-top:10rem !important; }</style>

<body>
    <div class="container topp mb-5" style="margin-bottom:2rem;">
    </div>
    <div class="container mb-5">
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4 mt-0">
                <h4><i class= 'bx bxs-graduation'></i>M'sycamore аянтчасыгы</h4>
                <h4>кош келиниз  welcome M'sycamore </h4>
                <p class="mt-1 mb-0">платформа жонундо толук малымат алуу учун -><button type="button" class="btn btn-success me-1" data-bs-toggle="modal" data-bs-target="#home">
                     the informations
            </button>
                </p>
             <a class="me-5 mt-0 mr-5" href="{% url 'users:register'%}">register</a>
                <a href="{% url 'users:login'%}">login</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="{% static 'img/mainbenner.png'%}" alt="Team process banner">
            </div>
        </div>
    </div>

</body>


{% endblock content %}


