{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-12 col-lg-6  mt-5 ">
            <h2>Are you sure to delete -  {{product.title}}</h2>
            <form  method="post" enctype="multipart/form-data" >{% csrf_token %}

                <button type="submit" class="btn btn-primary" >Submit</button>
               <a class="btn btn-secondary" href="{% url 'main:detail' product.id %}"> Back </a>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock content %}