{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 mt-5 ">
            <h2>Are you sure to delete -  {{nature.address}}</h2>
            <form  method="post" enctype="multipart/form-data" >{% csrf_token %}

                <button type="submit" class="btn btn-danger" >оа очур</button>
                <a  class="btn btn-primary" href="{% url 'nature:nature' %}"> жок </a>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock content %}